<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark menutop">
    <a class="navbar-brand h1 pt-3" [routerLink]="['/']">
    <img src="..\assets\resources\logo.png" alt="Creative Focus" class="align-top logo"></a>

    <!-- Menu Left Loged -->

    <ul class="navbar-nav px-4 pt-1" *ngIf="identity">
      <li class="nav-item px-1 active" [routerLink]="['/home']" [routerLinkActive]="['active']">
        <a class="nav-link">Inicio <span class="sr-only"></span></a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Timeline</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Gente</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Dashboard</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Explorar</a>
      </li>
    </ul>

    <!-- Menu Left /Loged -->

    <ul class="navbar-nav px-4 pt-1" *ngIf="!identity">
      <li class="nav-item px-1 active">
        <a class="nav-link" href="#">Inicio <span class="sr-only"></span></a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Gente</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link" href="#">Explorar</a>
      </li>
    </ul>

    <!-- Menu Right /Loged -->

    <ul class="navbar-nav px-1 mracces" *ngIf="!identity">
      <li class="nav-item px-1 ">
        <a class="nav-link" [routerLink]="['/login']" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Acceder
        </a>
      </li>

      <li class="nav-item px-1 ">
        <a class="nav-link" [routerLink]="['/registro']" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Registro
        </a>
      </li>
    </ul>

      <!-- Menu Right Loged -->

      <form class="form-inline my-2 my-lg-0" *ngIf="identity">
        <input class="form-control mr-sm-2" type="search" placeholder="Encuentra un proyecto" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Buscar</button>
      </form>

      <span class="navbar-text mx-3" *ngIf="identity">
      ¡Hola de nuevo {{identity.name}}!
      </span>

        <ul class="navbar-nav px-1 pr-5 dropdown">
          <li class="avatar">
            <!-- Cargar imagen usuario -->
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="identity" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mensajes
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Enviados</a>
            <a class="dropdown-item" href="#">Recibidos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">No leídos</a>
          </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-2 dropdown-toggle" *ngIf="identity" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi Perfil
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="identity">
            <a class="dropdown-item" [routerLink]="['/mis-datos']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-home"></span>
              Mis datos
            </a>
            <a class="dropdown-item" [routerLink]="['/registro']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-home"></span>
              Publicaciones
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()" [routerLink]="['/logout']">
              <span class="glyphicon glyphicon-home"></span>
              Salir
            </a>
          </div>
          </li>
        </ul>
  </nav>
</div>

<router-outlet></router-outlet>
