<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand h1 pt-3" href="#">
    <img src="..\assets\resources\bootstrap-solid.svg" width="30" height="30" alt="" class="align-top"> {{title}}
    </a>
    <ul class="navbar-nav px-4 pt-1">
      <li class="nav-item px-1 active">
        <a class="nav-link" href="#">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Timeline</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Gente</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item px-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mensajes
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Enviados</a>
        <a class="dropdown-item" href="#">Recibidos</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">No leídos</a>
      </div>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Explorar</a>
      </li>
    </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="¿Que quieres ver?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Buscar</button>
      </form>

        <ul class="navbar-nav px-1 dropdown">
          <li class="nav-item px-1 dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Go Creative!
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">
              <span class="glyphicon glyphicon-home"></span>
              Acceder
            </a>
            <a class="dropdown-item" href="/registro">
              <span class="glyphicon glyphicon-home"></span>
              Registrarse
            </a>
          </div>
          </li>
        </ul>

  </nav>
</div>

<router-outlet></router-outlet>
