/* You can add global styles to this file, and also import other style files */
/*GENERALES*/

.h1-strong{
  font-size: 35px;
  font-weight: bold;
  margin-left: 13px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* CABECERA */

.navigation {
  margin: 0px;
  padding: 0px !important;
  border-radius: 0px !important;
}

.navigation .navbar {
  border-radius: 0px !important;
  // background: black !important;
  border: none;
}

a.dropdown-item.active {
  background-color: #eee;
}

.nav-link:hover {
  color: #7fff00 !important;
  // border: 1px solid #7fff00;
  // border-radius: 2px;
}
.dropdown-item a:hover {
  background-color: #eee !important;
  color: black;
}

.navigation .navbar *{
  color: white;
}

.navigation .navbar .form-inline {
  margin-left: auto !important;
}

.dropdown-item {
  color: black !important;
}

.mracces {
  margin-left: auto !important;

}


.carousel-item {
  object-fit: cover;
  height: 400px;
  position: relative;

}
.cit { //carrousel item con modificación
  position: relative;
  bottom: 330px;
}
