/* You can add global styles to this file, and also import other style files */
/*GENERALES*/

.h1-strong{
  font-size: 35px;
  font-weight: bold;
  margin-left: 13px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* CABECERA */

/* Menus*/
.navigation {
}

.navbar {
  border-radius: 0px !important;
  /* background: black !important; */
  border: none;
  padding: .2rem 1rem;
}

.logo {
  height: 55px;
  width: auto;
}
.navigation .menutop{
  margin: -15px -5px -15px -5px;
  max-height: 70px;
  background-color: white;
}

.menutop a{
  font-size: 15px !important;
  color: black !important;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white !important;
}

.menusec {
  color: white !important;
  background-color: #00264b;
  text-transform: uppercase;
  font-weight: bold;
}

a.dropdown-item.active {
  background-color: #eee;
  text-transform: capitalize !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red !important;
  // border: 1px solid red;
  // border-radius: 2px;
}
.dropdown-item a:hover {
  background-color: #eee !important;
  color: black;
}

.navigation .navbar *{
  font-size: 15px;
}

.navigation .navbar .form-inline {
  margin-left: auto !important;
}

.menulogri {
  font-size: 16px !important;
  text-transform: capitalize !important;
  font-weight: normal !important;

}

.dropdown-item {
  color: black !important;
}

.mracces {
  margin-left: auto !important;

}

.modal {
  color: black;
  text-transform: none;
  font-weight: normal;
}

.tour {
  float: right;
  text-align: right;
  width: auto;
}

/* HOME */
.concat {
  /*background-image: url("..\assets\resources\concierto.jpg");*/
  background-color: #00264B;
  background-size: cover;
}
.rowcards {
  position: relative;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.carousel-item {
  object-fit: cover;
  height: 400px;
  position: relative;

}
.cit { //carrousel item con modificación
  position: relative;
  bottom: 330px;
}

.item-user .image-user{
  border-radius: 100px;
}

.item-user .image-user img{
  width: 120px;
}

.item-user .user-name{
  margin-top: 10px;
}

.item-user .user-name .nickname{
  color:#55;
  font-weight: bold;
}

.avatar-default{
  width: 100% !important;
}

/*HOME*/
.row{
  padding: 30px 0px 30px 0px;
}

.table{
  padding: 30px 0px 30px 0px;
}

.imgcar{
  width: auto;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

h2{
  text-align: center;
  position: absolute;
  font-size: 2.5rem;
  display: inline-block;
}

p {
  font-size: 1em;
  font: Montserrat;
}
.footer{
  background-color: #00264b;
  padding: 30px 0 30px 0;
  color: white;

}
